/* Main layout */

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0px;
}

.header h1.logo {
    font-size: 1em;
    margin: 2px;
}


/* List view */
.content {
    display: flex;
}

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .course-grid
    .lesson-grid {
        display: none;
    }
}